<%-include("../partials/adminHead") %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome <%= currentUser.username %>  </h1>
    <p class="lead">The world is full of magical things patiently waiting for our wits to grow sharper.</p>
  </div>
</div>



<%-include("../partials/adminFooter") %>