<%-include("partials/header") %>
 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Who i'am ?</h3>
        <p> 
           I'am a <a href="https://www.linkedin.com/in/endri-demiraj-273157181/">WebDeveloper </a>  experienced in different variety of web building languages such as Javascript/Node.js/MongoDB. 
           Have experience in building Wordpress , designing and setting up Websites and Forums as well as administrating and supervising for best functionality of the website . 



  
        </p>
        <h3>Why Node.js is the best ?</h3>
        <p>
          A lot of package make your work more easy,
          express.js is a good framework with MongoDb have amazing relation.
          JavaScript for now is the language of the time, it's more powerfull more easy and have a lot of library and framework to make your work more easy and flexible.
          If you learn very good  JavaScript will have a very good income <a href="https://www.ziprecruiter.com/Salaries/Node-JS-Developer-Salary" >Node JS Developer Salary</a> , that's not all ,but you can be a good instructor for all people,you can make video tutorial, you can be teacher in udemy and sell your course etc.</p>
       
      </div>
    </div>
  </div>

  <hr>
<%-include("partials/footer") %>